@model aspnet_config.Models.Post
@{
    ViewBag.Title = "Creating post";
}
<form asp-action="createpost" asp-controller="home" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name_Post" class="control-label">Name</label>
        <input type="text" asp-for="Name_Post" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">Photo</label>
        <input name="uploadedFile" type="file" asp-for="Photo_post" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Text_Post" class="control-label">Text</label>
        <input type="text" asp-for="Text_Post" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-default" />
    </div>
</form>